<h1>Log In Below:</h1>

<form method="post" action="/">
  <p> Name: <input type="text" name="name"></p>
  <p> Email: <input type="text" name="email"> </p>
  <p> Password: <input type="text" name="password"> </p>
  <input type="submit" id="submit" name="Sign Up">
</form>
