<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  Name: <input type="text" name="name">
  <br></br>
  Email: <input type="text" name="email">
  <br></br>
  Password: <input type="text" name="password">
  <input type="submit" id="submit" name="Sign Up">
</form>
