<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <p> Name: <input type="text" name="name"></p>
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
  <input type="submit" id="submit" name="Sign Up">
</form>
